In [1]:
import pandas as pd
import os
import re

In [2]:
df = pd.read_excel('.\各产品线结算格式\ATO/委托查询_20230614.xlsx')

In [3]:
len(df.columns)  # 列数
# 41
clist = df['算法子单编号'].values
cdata = pd.DataFrame({'算法子单编号': clist})
cdata

                    算法子单编号
0      2350260602067742721
1      2350260602067742723
2      2350260602067742722
3      2350260602067742724
4      2350260670787219460
...                    ...
28814  3697709215689207808
28815  3697778003885420544
28816  3698121601269100544
28817  3698258971503095808
28818  3698396479176044544

[28819 rows x 1 columns]

In [7]:
def cvt_col_from_to(df, origin_cname, new_cname, new_cdata_cvt_fun=None):
    clist = df[origin_cname].values
    if new_cdata_cvt_fun:
        clist = [new_cdata_cvt_fun(c) for c in clist]
    cdata = pd.DataFrame({new_cname: clist})
    return cdata

In [8]:
a = cvt_col_from_to(df, '委托日期', '交易日期', lambda x: x.replace('/', ''))
a

           交易日期
0      20230614
1      20230614
2      20230614
3      20230614
4      20230614
...         ...
28814  20230614
28815  20230614
28816  20230614
28817  20230614
28818  20230614

[28819 rows x 1 columns]

In [10]:
a = [1, 2, 3]
a.index(5)

ValueError: 5 is not in list

In [4]:
def greet(name: str) -> None:
    print(f"Hello, {name}!")

def uppercase(text: str) -> None:
    print(text.upper())

def process_data(data: list, callback: callable) -> None:
    for item in data:
        callback(item)

# 调用 process_data 函数，并传递 greet 和 uppercase 函数作为参数
names = ["Alice", "Bob", "Charlie"]
process_data(names, greet)
process_data(names, uppercase)

Hello, Alice!
Hello, Bob!
Hello, Charlie!
ALICE
BOB
CHARLIE

In [5]:
import os
import glob

def get_excel_file_paths(directory):
    # 获取指定路径下的所有Excel文件路径
    excel_files = glob.glob(os.path.join(directory, "*.xlsx"))  # 获取所有后缀为xlsx的文件
    excel_files.extend(glob.glob(os.path.join(directory, "*.xls")))  # 获取所有后缀为xls的文件
    excel_files.extend(glob.glob(os.path.join(directory, "*.csv")))
    return excel_files

In [6]:
get_excel_file_paths('.\各产品线结算格式\ATO')

['.\\各产品线结算格式\\ATO\\~$委托查询_20230614.xlsx',
 '.\\各产品线结算格式\\ATO\\~$绩效查询_母单绩效_汇总_20230614.xlsx',
 '.\\各产品线结算格式\\ATO\\委托查询_20230614.xlsx',
 '.\\各产品线结算格式\\ATO\\绩效查询_母单绩效_汇总_20230614.xlsx']

### ATO
通过`len(df.columns)`（列数）来区分对应的表 

拆单（算法类型=0）
- 41：子单
- 28：母单 

T0（算法类型=1）
- 22：子单
- 39：母单

### ATX


### ATGO