In [1]:
import pandas as pd
import os
import re

In [2]:
df = pd.read_excel('.\各产品线结算格式\ATO/委托查询_20230614.xlsx')

In [3]:
len(df.columns)  # 列数
# 41
clist = df['算法子单编号'].values
cdata = pd.DataFrame({'算法子单编号': clist})
cdata

                    算法子单编号
0      2350260602067742721
1      2350260602067742723
2      2350260602067742722
3      2350260602067742724
4      2350260670787219460
...                    ...
28814  3697709215689207808
28815  3697778003885420544
28816  3698121601269100544
28817  3698258971503095808
28818  3698396479176044544

[28819 rows x 1 columns]

In [7]:
def cvt_col_from_to(df, origin_cname, new_cname, new_cdata_cvt_fun=None):
    clist = df[origin_cname].values
    if new_cdata_cvt_fun:
        clist = [new_cdata_cvt_fun(c) for c in clist]
    cdata = pd.DataFrame({new_cname: clist})
    return cdata

In [8]:
a = cvt_col_from_to(df, '委托日期', '交易日期', lambda x: x.replace('/', ''))
a

           交易日期
0      20230614
1      20230614
2      20230614
3      20230614
4      20230614
...         ...
28814  20230614
28815  20230614
28816  20230614
28817  20230614
28818  20230614

[28819 rows x 1 columns]

In [10]:
a = [1, 2, 3]
a.index(5)

ValueError: 5 is not in list

In [4]:
def greet(name: str) -> None:
    print(f"Hello, {name}!")

def uppercase(text: str) -> None:
    print(text.upper())

def process_data(data: list, callback: callable) -> None:
    for item in data:
        callback(item)

# 调用 process_data 函数，并传递 greet 和 uppercase 函数作为参数
names = ["Alice", "Bob", "Charlie"]
process_data(names, greet)
process_data(names, uppercase)

Hello, Alice!
Hello, Bob!
Hello, Charlie!
ALICE
BOB
CHARLIE

In [5]:
import os
import glob

def get_excel_file_paths(directory):
    # 获取指定路径下的所有Excel文件路径
    excel_files = glob.glob(os.path.join(directory, "*.xlsx"))  # 获取所有后缀为xlsx的文件
    excel_files.extend(glob.glob(os.path.join(directory, "*.xls")))  # 获取所有后缀为xls的文件
    excel_files.extend(glob.glob(os.path.join(directory, "*.csv")))
    return excel_files

In [6]:
get_excel_file_paths('.\各产品线结算格式\ATO')

['.\\各产品线结算格式\\ATO\\~$委托查询_20230614.xlsx',
 '.\\各产品线结算格式\\ATO\\~$绩效查询_母单绩效_汇总_20230614.xlsx',
 '.\\各产品线结算格式\\ATO\\委托查询_20230614.xlsx',
 '.\\各产品线结算格式\\ATO\\绩效查询_母单绩效_汇总_20230614.xlsx']

In [12]:
os.listdir?

In [11]:
import os

os.listdir('.\各产品线结算格式\ATO')

['~$委托查询_20230614.xlsx',
 '~$绩效查询_母单绩效_汇总_20230614.xlsx',
 '委托查询_20230614.xlsx',
 '绩效查询_母单绩效_汇总_20230614.xlsx']

In [31]:
broker_mapping_file_path = 'E:\Kafang\cvt_multi_strategy\上传订单转换工具所需文件\模拟路径：券商-策略路由关联关系\Mapping_A_B_Broker/'\
'broker_mapping_20230626.csv'
account_user = 1000212
broker_mapping_df = pd.read_csv(broker_mapping_file_path, encoding='gbk')
broker_mapping_df[broker_mapping_df['BrokerNo'] == account_user]['StgRoute'].values

array(['/home/atgouser/ATGO/merge_broker_stg_route/data/a_stg_route/stg_route_20230626.csv'],
      dtype=object)

In [34]:
stg_df = pd.read_csv(r'E:\Kafang\cvt_multi_strategy\上传订单转换工具所需文件\模拟路径：券商-策略路由关联关系\a_stg_route/stg_route_20230626.csv')
stg_df

      accountS     symbol  security_type order_type  strategy_alias    note
0           -1         -1             -1         -1             103  Defult
1           -1  002267.SZ             -1    101|102             104     NaN
2           -1  300103.SZ             -1    101|102             104     NaN
3           -1  300573.SZ             -1    101|102             104     NaN
4           -1  000930.SZ             -1    101|102             104     NaN
...        ...        ...            ...        ...             ...     ...
2646        -1  600346.SH             -1    101|102             105     NaN
2647        -1  603982.SH             -1    101|102             105     NaN
2648        -1  603313.SH             -1    101|102             105     NaN
2649        -1  603607.SH             -1    101|102             105     NaN
2650        -1  605588.SH             -1    101|102             105     NaN

[2651 rows x 6 columns]

In [42]:
def cvt_ato_actualorder_0(df):
    global glob_date
    suanfazidanbianhao = cvt_col_from_to(df, '算法子单编号', '算法子单编号')
    suanfamudanbianhao = cvt_col_from_to(df, '母单序号', '算法母单编号')
    jiaoyiriqi = cvt_col_from_to(df, '委托日期', '交易日期', lambda x: x.replace('/', ''))
    shichangleibie = cvt_col_from_to(df, '交易市场', '市场类别', lambda x: get_index_from_list(market_type, x))
    zijinzhanghumingcheng = cvt_col_from_to(df, '资产账户名称', '资金账户名称')
    # 算法类型
    suanfaleixing = cvt_col_from_to(df, '资产账户名称', '算法类型', lambda x: 0)  # 固定拆单0
    # 算法供应商
    suanfagongyingshang = cvt_col_from_to(df, '资产账户名称', '算法供应商', lambda x: '多策略')  # 固定多策略
    zhengquandaima = cvt_col_from_to(df, '证券代码', '证券代码')
    weituoleixing = cvt_col_from_to(df, '价格类型', '委托类型', lambda x: get_index_from_list(order_type, x))
    maimaifangxiang = cvt_col_from_to(df, '买卖方向', '买卖方向', lambda x: get_index_from_list(side, x))
    weituojiage = cvt_col_from_to(df, '委托价格(港股通单位为港币)', '委托价格')
    weituoshuliang = cvt_col_from_to(df, '委托数量', '委托数量')
    # 委托时间
    date = df['委托日期'].values
    time = df['委托时间'].values
    glob_date = date[0].replace('/', '')
    dt = []
    for i in range(len(date)):
        dt.append(date[i].replace('/', '') + time[i].replace(':', ''))
    weituoshijian = pd.DataFrame({'委托时间': dt})
    chengjiaojiage = cvt_col_from_to(df, '成交均价(港股通单位为港币)', '成交价格')
    # 成交时间（使用委托时间）
    chengjiaoshijian = pd.DataFrame({'成交时间': dt})
    weituozhuangtai = cvt_col_from_to(df, '委托状态', '委托状态', lambda x: get_index_from_list(order_status, x))
    shouxufei = cvt_col_from_to(df, '总费用', '手续费')
    # 算法实例
    '''
    m = get_client_broker_map(atable)
    account_user_list = df['资产账户名称'].values
    symbol_list = df['证券代码'].values
    algo_list = []
    for i in range(len(account_user_list)):
        algo_list.append(get_algo_type(account_user_list[i], symbol_list[i], m, mapping_broker_dir, glob_date))
    suanfashili = pd.DataFrame({'算法实例': algo_list})
    '''
    suanfashili = pd.DataFrame({'算法实例': [''] * len(weituoshijian)})
    return pd.concat(
        [suanfazidanbianhao, suanfamudanbianhao, jiaoyiriqi, shichangleibie, zijinzhanghumingcheng, suanfaleixing,
         suanfashili, suanfagongyingshang, zhengquandaima, weituoleixing, maimaifangxiang, weituojiage,
         weituoshuliang, weituoshijian, chengjiaojiage], axis=1)

In [ ]:
ato_path = r'E:\Kafang\cvt_multi_strategy\上传订单转换工具所需文件\各产品线结算格式\ATO\0/委托查询_20230614.xlsx'

glob_date = '20230614'
df = pd.read_excel(ato_path)
cvt_ato_actualorder_0(df)

### ATO
通过`len(df.columns)`（列数）来区分对应的表 

拆单（算法类型=0）
- 41：子单
- 28：母单 

T0（算法类型=1）
- 22：子单
- 39：母单

### ATX


### ATGO